openapi: 3.1.0
info:
  title: Free Cocktail Filter API
  description: TheCocktailDB Free API provides access to a vast database of cocktail recipes, ingredients, glassware, and images. Search by name, ingredient, category, glass, or alcohol content, look up details by ID, list available filters, or fetch a random cocktail.
  version: '1.0'
  contact:
    name: TheCocktailDB
    url: https://www.thecocktaildb.com/api.php
servers:
- url: https://www.thecocktaildb.com/api/json/v1/{apiKey}
  description: TheCocktailDB JSON API. Use API key "1" for development.
  variables:
    apiKey:
      default: '1'
      description: API key. "1" is the free test key; premium keys unlock additional endpoints.
tags:
- name: Filter
  description: Filter cocktails by ingredient, alcohol, category, or glass.
paths:
  /filter.php:
    get:
      summary: Filter cocktails
      description: Filter cocktails by ingredient, alcoholic/non-alcoholic, category, or glass type.
      operationId: filterCocktails
      tags:
      - Filter
      parameters:
      - name: i
        in: query
        description: Ingredient to filter by.
        schema:
          type: string
      - name: a
        in: query
        description: Alcoholic or Non_Alcoholic.
        schema:
          type: string
          enum:
          - Alcoholic
          - Non_Alcoholic
      - name: c
        in: query
        description: Category to filter by.
        schema:
          type: string
      - name: g
        in: query
        description: Glass type to filter by.
        schema:
          type: string
      responses:
        '200':
          description: Filtered cocktails.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrinkList'
components:
  schemas:
    Drink:
      type: object
      properties:
        idDrink:
          type: string
        strDrink:
          type: string
        strCategory:
          type: string
        strAlcoholic:
          type: string
        strGlass:
          type: string
        strInstructions:
          type: string
        strDrinkThumb:
          type: string
          format: uri
    DrinkList:
      type: object
      properties:
        drinks:
          type: array
          items:
            $ref: '#/components/schemas/Drink'
